<%= image_tag('speedup_rails/database.png', alt: '') %><%= data.count %> queries
<% content_for(:speed_up_additional_bars) do %>
  <div class="queries">
    <% data.each do |query| %>
      <div>
        <span class="duration"><%= (query[:duration] * 100).round.to_f / 100 %> ms</span>
        <span class="query"><%= query[:query] %></span>
      </div>
    <% end %>
  </div>
<% end %>
