<span class="speedup_rails_<%= key %>" data-key="<%= key %>">
  <% data.each do |prof_id| %>
    <%= link_to 'ruby-prof_'+prof_id.to_s, rubyprof_result_path(@request_id, prof_id: prof_id), target: '_blank' %>
  <% end %>
</span>
