<ul class="speedup_main_bar <%= ' redirect' if @redirect %>">
  <% @collectors.each do |col| %>
    <% next unless col.render? %>
    <li id="speedup_<%= @request_id %>_collectorinfo_<%= col.key %>">
      <%= render "speedup_rails/collectors/#{col.key}", request_id: @request_id, data: @request[col.key] || [], key: col.key, request_data: @request[:request], redirect: @redirect %>
    </li>
  <% end %>
</ul>
